<link rel="stylesheet" href="./css/Sidebar.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

<div class="d-flex">
    <!-- Sidebar -->
    <nav class="sidebar bg-dark text-white vh-100">
        <div class="sidebar-header text-center py-4">
            <img src="Resources/Images/logo.jpeg" alt="HisabKitab Logo" class="img-fluid" style="max-width: 150px;" />
        </div>

        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="/" class="nav-link text-white">
                    <i class="fas fa-home me-2"></i> Home
                </a>
            </li>
            <li class="nav-item">
                <a href="/dashboard" class="nav-link text-white">
                    <i class="fas fa-chart-line me-2"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a href="/transaction" class="nav-link text-white">
                    <i class="fas fa-wallet me-2"></i> Transactions
                </a>
            </li>
            <li class="nav-item">
                <a href="/debt" class="nav-link text-white">
                    <i class="fas fa-hand-holding-usd me-2"></i> Debt Management
                </a>
            </li>
        </ul>
    </nav>
</div>
